#show1 {
    margin-left: 120px;
}

#show2 {
    margin-left: 120px;
}

#show3 {
    margin-left: 120px;
}

#show4 {
    margin-left: 120px;
}

#show5 {
    margin-left: 120px;
}

#show7 {
    margin-left: 100px;
}

#show6 {
    margin-left: 120px;
}

#show8 {
    margin-left: 120px;
}

#show9 {
    margin-left: 120px;
}

.bootstrap-table {
    width: 93%;
    height: 100%;
    margin-top: 30px;
    margin-left: 20px;
}
.nineRevise{
    margin-top: 24px;
    background: url("../img/button01b.png");

    width: 130px;
    height: 36px;
}
.fields .dk_wrap .nineWidth{
    width: 130px;
}
.fields .dk_wrap .nine_size{
  width: 70px;
}
.nine_sizew{
    width: 70px;
}

.ninesttlezj{
    width: 80px;
    height: 36px;
}
.ninesttlezj option{
    width: 80px;
    height: 36px;

}

.ninebj{
    margin-top: 24px;
    background: url("../img/ninebt01.png");

    width: 80px;
    height: 36px;
}

.dk_wrap .nineop{
    width: 80px;
    height: 36px;


}